.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.node-version
.oxlintrc.json
.releaserc.json
tsconfig.json
tsconfig.webview.json
esbuild.webview.mjs
pnpm-lock.yaml
renovate.json
AGENTS.md
TODO.md
**/*.map
**/*.ts
!out/**/*.js
!out/**/*.css
!out/**/*.html
node_modules/**
